@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather:ital,wght@1,300&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
	--generico: 'Arial' sans serif;
	--txtTitulos: 'Rubik Dirt', system-ui;
	--colorTitle: #fafaf9;
	--Txtsubtitulo: 'Courgette', cursive;
	--Txtcuerpo: 400 normal 'Poppins', sans-serif;
	--BotonTexto: 'Merriweather', serif;
	--color-barra: #d7cbb4;
	--color-textoBarra: #122747;
	--color-boton: #05414d;
	--color-letra-btn: #dfe4e3;
	--colorfooter: #122747;
	--colortextoFooter: #d7cbb4;
	--colorCuerpo: #85babd;
}

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body {
	background: rgb(0, 159, 136);
	background: linear-gradient(
		100deg,
		rgba(0, 159, 136, 0.8) 0%,
		rgba(171, 163, 183, 0.8) 100%
	);
}

/* ----------Encabezado--------- */
h1 {
	font-family: var(--txtTitulos);
	text-align: center;
	margin-top: 1%;
}

header a.logo img {
	float: left;
	width: 10%;
	height: 100%;
}

/* ---------------Menu---------- */
a.nav-link {
	font-family: var(--Txtcuerpo);
	font-size: 1.2rem;
	margin: 0.5rem;
	color: var(--color-textoBarra);
}
a.nav-link:hover {
	color: var(--colorTitle);
}
nav.navbar.menuMd {
	font-size: 2rem;
	background-color: rgba(215, 203, 180, 0.3);
	width: 100%;
	font-weight: bold;
}
/* ----------------Cuerpo------------- */

main,
.parte-responsive {
	background-image: url(../assets/img/Fondo.jpg);
	background-size: cover;
	background-blend-mode: overlay;
}
p {
	padding-top: 3%;
	font-size: 1rem;
	text-align: center;
}
a {
	text-decoration: none;
	color: var(--color-letra-btn);
}
button.btn {
	background-color: var(--color-boton);
}
button.btn:hover {
	background-color: rgba(5, 65, 77, 0.6);
}
div.col {
	border: 2px solid var(--colorCuerpo);
	margin: 1%;
	padding-bottom: 1%;
	height: 60vh;
	border-radius: 1%;
	-webkit-border-radius: 1%;
	-moz-border-radius: 1%;
	-ms-border-radius: 1%;
	-o-border-radius: 1%;
	color: var(--color-textoBarra);
	font-family: var(--Txtcuerpo);
	background-color: #f3f0ebb3;
}
.imagen-card {
	margin-top: 5%;
	width: 100%;
	border-radius: 1%;
	-webkit-border-radius: 1%;
	-moz-border-radius: 1%;
	-ms-border-radius: 1%;
	-o-border-radius: 1%;
}
/* ------Consejos viajeros----- */
.secCons > img,
.mainDestino img {
	width: 30%;
}
/* ------Destinos----- */

/* ---------GALERIA FOTOS-------- */
.carousel {
	width: 90vw;
	margin-bottom: 1.5%;
}
.texto-limitado.container-fluid h5 {
	font-family: var(--txtTitulos);
	margin: 1%;
}
.texto-limitado.container-fluid p {
	font-family: var(--BotonTexto);
}
.texto-limitado > img {
	margin-bottom: 2%;
}
h5.texto-galeria {
	font-family: var(--txtTitulos);
	font-size: x-large;
}
h5.text-center.texto-galeria {
	font-family: var(--txtTitulos);
	font-size: x-large;
	color: var(--colorTitle);
	margin-top: 10%;
}
p.texto-galeria {
	font-family: var(--Txtcuerpo);
	font-size: large;
}
p.text-center.texto-galeria {
	font-family: var(--Txtcuerpo);
	font-size: large;
	color: var(--colorTitle);
}
/* -----------Footer------- */
h3 {
	font-family: var(--BotonTexto);
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--color-barra);
}
a.nav-link.icono {
	font-size: 1.5rem;
	color: var(--color-barra);
}
footer {
	background-color: var(--colorfooter);
}

/* ----------------------MEDIA QUERY-------------------- */
/* -----------Query cards----------- */
@media (max-width: 763px) {
	section.row {
		display: contents;
	}
	.imagen-card {
		width: 50%;
	}
	div.col {
		height: 60vh;
	}

	/* ------------galeria fotos--------- */
}

@media (max-width: 576px) {
	div.col {
		height: 55vh;
	}
}

/* -----Query footer--- */

@media (max-width: 460px) {
	footer ul h3 {
		padding: 2%;
		font-size: 16px;
	}
	a.nav-link.icono {
		display: table-cell;
		font-size: small;
	}
}
/* ---texto - Cambio a pantalla chica responsive */
@media (max-width: 723px) {
	#carouselExampleCaptions {
		display: none;
	}
}
@media (min-width: 722px) {
	.texto-limitado {
		display: none;
	}
}
